<h1>ログイン</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  </br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </br>
  <%= f.submit "ログインする" %>
<% end %>
